

.create-container {
  background-color: rgba(19, 48, 77, 0.5);
  box-sizing: border-box;
  max-width: 800px;
  min-height: 500px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 5);
}

.create-container h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  color: #ffffff;
}



form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 1rem;
  align-items: start;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-down{
  display: flex;
  grid-column: 1/3;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  gap: 0.75rem;
}

form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

form input:focus {
  outline: none;
  border-color: #13304d;
}

.CadastroButton {
  padding: 0.75rem;
  background-color: #13304d;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%; 
}

.CadastroButton:hover {
  background-color: #0f2436;
}

.imagem-box{
  width: 150px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.preview-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  margin-top: 12px;
}

.imagem-box:hover{
  transform: scale(1.03);
}

input[type="file"]{
  display: none;
}

.upload-label{
  background-color: #13304d;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.upload-label:hover{
  background-color: #0f2436;
}

.preview-item{
  flex: 0 0 auto;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow:  0 2px 6px rgba(0, 0, 0, 0.2);
}

.preview-index {
  position: absolute;
  bottom: 6px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 4px;
}

form input::placeholder {
  color: #9ca3af;
}

@media (max-width: 640px) {
  .form-grid {
    grid-template-columns: 1fr; 
  }
}
