.home-container {
    background-image: url('../../assets/Background.jpg');
    background-size: cover;      
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img{
    width: 200px;
    height: auto;
    margin-left: 20px;
}

header a{
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    min-width: 8rem;
    padding: 2%;
}

header a:hover{ 
    background-color: rgb(19, 48, 77);
    color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.cadastrar{
    background-color: rgba(19, 48, 77, 0.8); 
    border-radius: 20px;
    min-width: 11rem;
   
    
}

header li{
    padding-left: 50%;
    list-style: none;
    display: flex;
}

.content{
    flex: 1;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;    
    width: 100%;
}

.content h1{
    font-size: 3.8rem;
    margin-bottom: 20px;

}

.content p{
    font-size: 1rem;
    max-width: 700px;    
    width: 100%;
    margin-bottom: 30px;
}

.ponto{
    animation: blink 0.5s steps(1, end) infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

#imoveis{
   
    color: rgb(0, 28, 57);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.4%;
    border-radius: 30px;
}
#imoveis:hover{
    background-color: rgb(19, 47, 77);
    color: white;
    transition: 0.3s;
}