.painelAdm{
    display: flex;
    flex-wrap: wrap;
}
.main{
    display: flex;
    margin-left:17%;
    min-width: 80%;
    max-height: 100%;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.main h1{
    text-align: center;
    margin-bottom: 1rem;
}



.imovelhome{
    border: 0.1px solid #b1b1b1;
    padding: 1rem;
    border-radius: 8px;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    resize: horizontal;
    overflow: auto;
    gap: 3rem;
}

.imovelhome p{
    color: rgb(0, 0, 0);
    padding: 0.3rem;
}
.botoes{
    display: flex;
    gap: 1rem;
    
}
.containerBotoes{
    width: auto;
    display: flex;
    align-items: end;
    gap: 1rem;
}
.edita{
    background-color: rgb(0, 0, 255);
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    width: 5rem;
}



.excluir{
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    width: 5rem;
}


