.header_component{
    display: flex;
    flex-direction: row;
    background-color: rgba(19, 48, 77, 0.5);
    min-height: 5rem;
    min-width: 100%;
    padding: 2%;
    justify-content: space-between;

}

.logo{
    max-width: 10rem;
    max-height: auto;
}