body {
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
    width: 10%; 
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.simbolImage {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.simbolContainer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsContainer {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.listContainer {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.liOptions {
    transition: 0.2s ease-in-out background-color;
    cursor: pointer;
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.liOptions:hover {

    transition: 0.2s ease-in-out background-color;
    background-color: #ccc;
}


.liIcon{
    width: 35px;
    height: 25px;
}

.logoutContainer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}