.botoes{
    display: flex;
    gap: 1rem;
}

.imoveldelete{
    border: 0.1px solid #b1b1b1;
    padding: 1rem;
    border-radius: 8px;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    resize: horizontal;
    overflow: auto;
    gap: 3rem;

}

.imoveldelete p{
    color: rgb(0, 0, 0);
    padding: 0.3rem;
}
.containerBotoes{
    width: auto;
    display: flex;
    align-items: end;
    gap: 1rem;
}
.excluirPerm{
    background-color: red;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.editar{
    background-color: blue;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.restaurar{
    background-color: green;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}